.search{
    padding: 10px 20px;
    height:100%;
    border-radius:8px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    border:1px solid black;
    width:502px;
    
}
.wrapper{
    display:flex;
    align-items:stretch;
    height:18px;
}

.searchButton{
    border-radius:0px 8px 8px 0px;
    padding:14px 20px;
    height:100%;
    border:1px solid black;
    border-left:none;
    cursor:pointer;
    height:100%;
}