.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 18px;
    }
    
       .search{
    width: 502px;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 10px 20px;
    }
    
    .searchButton{
            border-radius: 0px 8px 8px 0px;
          border-left: none;
          border: 1px solid black;
        height: 40px;
        cursor: pointer;
        padding: 7px 20px; 
    }